[bumpversion]
current_version = 0.1.0
commit = True
tag = False
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>[a-z0-9+]+)

[bumpversion:file:nextflow.config]
search = version         = '{current_version}'
replace = version         = '{new_version}'
