/*
========================================================================================
    Nextflow config file for cached reference data paths
========================================================================================
    This config is conditionally included when NXF_REF_DATA_PATH is set.
    The path is set by the CI workflow when reference data is cached.
----------------------------------------------------------------------------------------
*/

params {
    ref_data_genome_fasta         = "${System.getenv('NXF_REF_DATA_PATH')}/GRCh38_masked_exclusions_alts_hlas.fasta"
    ref_data_genome_fai           = "${System.getenv('NXF_REF_DATA_PATH')}/GRCh38_masked_exclusions_alts_hlas.fasta.fai"
    ref_data_genome_dict          = "${System.getenv('NXF_REF_DATA_PATH')}/GRCh38_masked_exclusions_alts_hlas.fasta.dict"
    ref_data_genome_img           = "${System.getenv('NXF_REF_DATA_PATH')}/GRCh38_masked_exclusions_alts_hlas.fasta.img"
    ref_data_genome_bwamem2_index = "${System.getenv('NXF_REF_BWAMEM2_INDEX')}/"
    ref_data_genome_gridss_index  = "${System.getenv('NXF_REF_GRIDSS_INDEX')}/"
    ref_data_genome_star_index    = "${System.getenv('NXF_REF_STAR_INDEX')}/"
    ref_data_hmf_data_path        = "${System.getenv('NXF_REF_HMF_DATA')}/"
}
