/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

params.processes_exclude = 'chord,sigs,peach,cider,teal'
aws.client.anonymous = true // fixes S3 access issues on self-hosted runners
