params {
    genomes {
        'GRCh37_hmf' {
            fasta           = "/Users/matthewcooper/projects/oncoanalyser/genomes/GRCh37_hmf/Homo_sapiens.GRCh37.GATK.illumina.fasta"
            fai             = "/Users/matthewcooper/projects/oncoanalyser/genomes/GRCh37_hmf/samtools_index/1.16/Homo_sapiens.GRCh37.GATK.illumina.fasta.fai"
            dict            = "/Users/matthewcooper/projects/oncoanalyser/genomes/GRCh37_hmf/samtools_index/1.16/Homo_sapiens.GRCh37.GATK.illumina.fasta.dict"
            bwa_index       = "/Users/matthewcooper/projects/oncoanalyser/genomes/GRCh37_hmf/bwa_index/0.7.17-r1188"
            bwa_index_image = "/Users/matthewcooper/projects/oncoanalyser/genomes/GRCh37_hmf/bwa_index_image/0.7.17-r1188/Homo_sapiens.GRCh37.GATK.illumina.fasta.img"
            gridss_index    = "/Users/matthewcooper/projects/oncoanalyser/genomes/GRCh37_hmf/gridss_index/2.13.2/Homo_sapiens.GRCh37.GATK.illumina.fasta.gridsscache"
        }
    }

    ref_data_hmf_data_path = "/Users/matthewcooper/projects/oncoanalyser/hmf_reference_data/hmftools/5.34_37--0"
    ref_data_virusbreakenddb_path = "/Users/matthewcooper/projects/oncoanalyser/virusbreakend/virusbreakenddb_20210401"
    refdata_unmap_regions =  "/Users/matthewcooper/projects/oncoanalyser/hmf_reference_data/markdups/unmap_regions_37.tsv"
}
