/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for HMF genome paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes using HMF genome paths.
----------------------------------------------------------------------------------------
*/


params {
    genomes {
        'GRCh37_hmf' {
            fasta         = "${params.hmf_genomes_base}/GRCh37_hmf/24.0/Homo_sapiens.GRCh37.GATK.illumina.fasta"
            fai           = "${params.hmf_genomes_base}/GRCh37_hmf/24.0/samtools_index/1.16/Homo_sapiens.GRCh37.GATK.illumina.fasta.fai"
            dict          = "${params.hmf_genomes_base}/GRCh37_hmf/24.0/samtools_index/1.16/Homo_sapiens.GRCh37.GATK.illumina.fasta.dict"
            img           = "${params.hmf_genomes_base}/GRCh37_hmf/24.0/bwa_index_image/0.7.17-r1188/Homo_sapiens.GRCh37.GATK.illumina.fasta.img"
            gridss_index  = "${params.hmf_genomes_base}/GRCh37_hmf/25.1/gridss_index-2.13.2.tar.gz"
            bwamem2_index = "${params.hmf_genomes_base}/GRCh37_hmf/25.1/bwa-mem2_index-2.2.1.tar.gz"
            star_index    = "${params.hmf_genomes_base}/GRCh37_hmf/25.1/star_index-gencode_19-2.7.3a.tar.gz"
        }
        'GRCh38_hmf' {
            fasta         = "${params.hmf_genomes_base}/GRCh38_hmf/25.1/GRCh38_masked_exclusions_alts_hlas.fasta"
            fai           = "${params.hmf_genomes_base}/GRCh38_hmf/25.1/samtools_index-1.16/GRCh38_masked_exclusions_alts_hlas.fasta.fai"
            dict          = "${params.hmf_genomes_base}/GRCh38_hmf/25.1/samtools_index-1.16/GRCh38_masked_exclusions_alts_hlas.fasta.dict"
            img           = "${params.hmf_genomes_base}/GRCh38_hmf/25.1/bwa_index_image-gatk-4.6.1.0/GRCh38_masked_exclusions_alts_hlas.fasta.img"
            gridss_index  = "${params.hmf_genomes_base}/GRCh38_hmf/25.1/gridss_index-2.13.2.tar.gz"
            bwamem2_index = "${params.hmf_genomes_base}/GRCh38_hmf/25.1/bwa-mem2_index-2.2.1.tar.gz"
            star_index    = "${params.hmf_genomes_base}/GRCh38_hmf/25.1/star_index-gencode_38-2.7.3a.tar.gz"
        }
    }
}
