/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file with URIs to HMF Docker images
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    This config file is intended for rapidly testing updates to HMFTool container
    images via Hartwigs CI/CD. This bypasses the bioconda CI/CD that requires human
    approval which can be slow.

----------------------------------------------------------------------------------------
*/

process {

    // withName: 'AMBER.*' {
    //     container = 'docker.io/hartwigmedicalfoundation/amber:4.2-beta.1'
    // }

    withName: 'BAMTOOLS.*' {
        container = 'docker.io/hartwigmedicalfoundation/bam-tools:1.5-beta.1'
    }

    withName: 'CIDER.*' {
        container = 'docker.io/hartwigmedicalfoundation/cider:1.1-beta.7'
    }

    // withName: 'CUPPA.*' {
    //     container = 'docker.io/hartwigmedicalfoundation/cuppa:2.3.1-rc.3'
    // }

    // withName: 'CHORD.*' {
    //     container = 'docker.io/hartwigmedicalfoundation/chord:2.1.2'
    // }

    withName: 'COBALT.*' {
        container = 'docker.io/hartwigmedicalfoundation/cobalt:2.2-beta.1'
    }

    withName: 'ESVEE.*' {
        container = 'docker.io/hartwigmedicalfoundation/esvee:1.1.3-beta.1'
    }

    // withName: 'ISOFOX.*' {
    // 	container = 'docker.io/hartwigmedicalfoundation/isofox:1.7.2-beta.1'
    // }

    withName: 'LILAC.*' {
    	container = 'docker.io/hartwigmedicalfoundation/lilac:1.7.3'
    }

    withName: 'LINX_.*' {
        container = 'docker.io/hartwigmedicalfoundation/linx:2.2-beta.4'
    }

    // withName: 'NEO_(FINDER|SCORER)' {
    //     container = 'docker.io/hartwigmedicalfoundation/neo:1.2-beta.2'
    // }

    // withName: 'PURPLE.*' {
    //     container = 'docker.io/hartwigmedicalfoundation/purple:4.2-beta.4'
    // }

    // withName: 'REDUX.*' {
    //     container = 'docker.io/hartwigmedicalfoundation/redux:1.2-beta.2'
    // }

    // withName: 'SAGE.*' {
    //     container = 'docker.io/hartwigmedicalfoundation/sage:4.2-beta.1'
    // }

    withName: 'PAVE.*' {
        container = 'docker.io/hartwigmedicalfoundation/pave:1.8.1'
    }

    // withName: 'SIGS.*' {
    // 	container = ''
    // }

    // withName: 'VIRUSINTERPRETER.*' {
    //     container = 'docker.io/hartwigmedicalfoundation/virus-interpreter:1.7.1'
    // }

    withName: 'ORANGE.*' {
        container = 'docker.io/hartwigmedicalfoundation/orange:4.1.1-beta.1'
    }

    // withName: 'WISP.*' {
    //     container = 'docker.io/hartwigmedicalfoundation/wisp:1.2-beta.3'
    // }

}


