/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file with URIs to HMF Docker images
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    This config file is intended for rapidly testing updates to HMFTool container
    images via Hartwigs CI/CD. This bypasses the bioconda CI/CD that requires human
    approval which can be slow.

----------------------------------------------------------------------------------------
*/

process {

    withName: 'TEAL.*' {
        container = 'docker.io/hartwigmedicalfoundation/teal:1.3.5-beta.2'
    }

}


