params {
    hmf_data_paths {
        '37' {
            // AMBER
            heterozygous_sites            = 'dna_pipeline/copy_number/AmberGermlineSites.37.tsv.gz'
            // COBALT
            gc_profile                    = 'dna_pipeline/copy_number/GC_profile.1000bp.37.cnp'
            diploid_bed                   = 'dna_pipeline/copy_number/DiploidRegions.37.bed.gz'
            // CUPPA
            cuppa_resources               = 'cuppa/'
            // SV Prep
            sv_prep_blocklist             = 'dna_pipeline/sv/sv_prep_blacklist.37.bed'
            // GRIDSS, GRIPSS
            gridss_pon_breakends          = 'dna_pipeline/sv/sgl_pon.37.bed.gz'
            gridss_pon_breakpoints        = 'dna_pipeline/sv/sv_pon.37.bedpe.gz'
            gridss_region_blocklist       = 'dna_pipeline/sv/gridss_blacklist.37.bed.gz'
            repeatmasker_annotations      = 'dna_pipeline/sv/repeat_mask_data.37.fa.gz'
            // Isofox
            isofox_counts                 = 'rna_pipeline/read_151_exp_counts.csv'
            isofox_gc_ratios              = 'rna_pipeline/read_100_exp_gc_ratios.csv'
            // LILAC
            lilac_resources               = 'dna_pipeline/immune/'
            // ORANGE
            cohort_mapping                = 'orange/cohort_mapping.tsv'
            cohort_percentiles            = 'orange/cohort_percentiles.tsv'
            alt_sj_distribution           = 'rna_pipeline/isofox.hmf_3444.alt_sj_cohort.37.csv'
            gene_exp_distribution         = 'rna_pipeline/isofox.hmf_3444.gene_distribution.37.csv'
            // SAGE
            clinvar_annotations           = 'dna_pipeline/variants/clinvar.37.vcf.gz'
            sage_blocklist_regions        = 'dna_pipeline/variants/KnownBlacklist.germline.37.bed'
            sage_blocklist_sites          = 'dna_pipeline/variants/KnownBlacklist.germline.37.vcf.gz'
            sage_actionable_panel         = 'dna_pipeline/variants/ActionableCodingPanel.37.bed.gz'
            sage_coverage_panel           = 'dna_pipeline/variants/CoverageCodingPanel.37.bed.gz'
            sage_highconf_regions         = 'dna_pipeline/variants/NA12878_GIAB_highconf_IllFB-IllGATKHC-CG-Ion-Solid_ALLCHROM_v3.2.2_highconf.bed.gz'
            sage_known_hotspots_germline  = 'dna_pipeline/variants/KnownHotspots.germline.37.vcf.gz'
            sage_known_hotspots_somatic   = 'dna_pipeline/variants/KnownHotspots.somatic.37.vcf.gz'
            sage_pon                      = 'dna_pipeline/variants/SageGermlinePon.1000x.37.tsv.gz'
            // Sigs
            sigs_signatures               = 'sigs/snv_cosmic_signatures.csv'
            // Virus Interpreter
            virus_reporting_db            = 'virusinterpreter/virus_reporting_db.tsv'
            virus_taxonomy_db             = 'virusinterpreter/taxonomy_db.tsv'
            // Misc
            disease_ontology              = 'disease_ontology/doid.json'
            driver_gene_panel             = 'dna_pipeline/common/DriverGenePanel.37.tsv'
            ensembl_data_resources        = 'dna_pipeline/common/ensembl_data/'
            gnomad_resource               = 'dna_pipeline/variants/gnomad_variants_v37.csv.gz'
            gridss_config                 = 'dna_pipeline/sv/gridss.properties'
            known_fusion_data             = 'dna_pipeline/sv/known_fusion_data.37.csv'
            known_fusions                 = 'dna_pipeline/sv/known_fusions.37.bedpe'
            purple_germline_del           = 'dna_pipeline/copy_number/cohort_germline_del_freq.37.csv'
            segment_mappability           = 'dna_pipeline/variants/mappability_150.37.bed.gz'
            unmap_regions                 = 'dna_pipeline/common/unmap_regions.37.tsv'
        }
        '38' {
            // AMBER
            heterozygous_sites            = 'dna_pipeline/copy_number/AmberGermlineSites.38.tsv.gz'
            // COBALT
            gc_profile                    = 'dna_pipeline/copy_number/GC_profile.1000bp.38.cnp'
            diploid_bed                   = 'dna_pipeline/copy_number/DiploidRegions.38.bed.gz'
            // CUPPA
            cuppa_resources               = 'cuppa/'
            // SV Prep
            sv_prep_blocklist             = 'dna_pipeline/sv/sv_prep_blacklist.38.bed'
            // GRIDSS, GRIPSS
            gridss_pon_breakends          = 'dna_pipeline/sv/sgl_pon.38.bed.gz'
            gridss_pon_breakpoints        = 'dna_pipeline/sv/sv_pon.38.bedpe.gz'
            gridss_region_blocklist       = 'dna_pipeline/sv/gridss_blacklist.38.bed.gz'
            repeatmasker_annotations      = 'dna_pipeline/sv/repeat_mask_data.38.fa.gz'
            // Isofox
            isofox_counts                 = 'rna_pipeline/read_151_exp_counts.csv'
            isofox_gc_ratios              = 'rna_pipeline/read_100_exp_gc_ratios.csv'
            // LILAC
            lilac_resources               = 'dna_pipeline/immune/'
            // ORANGE
            cohort_mapping                = 'orange/cohort_mapping.tsv'
            cohort_percentiles            = 'orange/cohort_percentiles.tsv'
            alt_sj_distribution           = 'rna_pipeline/isofox.hmf_3444.alt_sj_cohort.38.csv'
            gene_exp_distribution         = 'rna_pipeline/isofox.hmf_3444.gene_distribution.38.csv'
            // SAGE
            clinvar_annotations           = 'dna_pipeline/variants/clinvar.38.vcf.gz'
            sage_blocklist_regions        = 'dna_pipeline/variants/KnownBlacklist.germline.38.bed'
            sage_blocklist_sites          = 'dna_pipeline/variants/KnownBlacklist.germline.38.vcf.gz'
            sage_actionable_panel         = 'dna_pipeline/variants/ActionableCodingPanel.38.bed.gz'
            sage_coverage_panel           = 'dna_pipeline/variants/CoverageCodingPanel.38.bed.gz'
            sage_highconf_regions         = 'dna_pipeline/variants/HG001_GRCh38_GIAB_highconf_CG-IllFB-IllGATKHC-Ion-10X-SOLID_CHROM1-X_v.3.3.2_highconf_nosomaticdel_noCENorHET7.bed.gz'
            sage_known_hotspots_germline  = 'dna_pipeline/variants/KnownHotspots.germline.38.vcf.gz'
            sage_known_hotspots_somatic   = 'dna_pipeline/variants/KnownHotspots.somatic.38.vcf.gz'
            sage_pon                      = 'dna_pipeline/variants/SageGermlinePon.98x.38.tsv.gz'
            // Sigs
            sigs_signatures               = 'sigs/snv_cosmic_signatures.csv'
            // Virus Interpreter
            virus_reporting_db            = 'virusinterpreter/virus_reporting_db.tsv'
            virus_taxonomy_db             = 'virusinterpreter/taxonomy_db.tsv'
            // Misc
            disease_ontology              = 'disease_ontology/doid.json'
            driver_gene_panel             = 'dna_pipeline/common/DriverGenePanel.38.tsv'
            ensembl_data_resources        = 'dna_pipeline/common/ensembl_data/'
            gnomad_resource               = 'dna_pipeline/variants/gnomad/'
            gridss_config                 = 'dna_pipeline/sv/gridss.properties'
            known_fusion_data             = 'dna_pipeline/sv/known_fusion_data.38.csv'
            known_fusions                 = 'dna_pipeline/sv/known_fusions.38.bedpe'
            purple_germline_del           = 'dna_pipeline/copy_number/cohort_germline_del_freq.38.csv'
            segment_mappability           = 'dna_pipeline/variants/mappability_150.38.bed.gz'
            unmap_regions                 = 'dna_pipeline/common/unmap_regions.38.tsv'
        }
    }
}
