params {
    hmf_data_paths {
        '37' {
            // AMBER
            heterozygous_sites            = 'dna/copy_number/AmberGermlineSites.37.tsv.gz'
            // COBALT
            gc_profile                    = 'dna/copy_number/GC_profile.1000bp.37.cnp'
            diploid_bed                   = 'dna/copy_number/DiploidRegions.37.bed.gz'
            // CUPPA
            cuppa_alt_sj                  = 'misc/cuppa/alt_sj.selected_loci.37.tsv.gz'
            cuppa_classifier              = 'misc/cuppa/cuppa_classifier.37.pickle.gz'
            // SV Prep
            sv_prep_blocklist             = 'dna/sv/sv_prep_blacklist.37.bed'
            // ESVEE
            decoy_sequences_image         = 'dna/sv/hg38_decoys.fa.img'
            gridss_pon_breakends          = 'dna/sv/sgl_pon.37.bed.gz'
            gridss_pon_breakpoints        = 'dna/sv/sv_pon.37.bedpe.gz'
            repeatmasker_annotations      = 'dna/sv/repeat_mask_data.37.fa.gz'
            // Isofox
            alt_sj_distribution           = 'rna/isofox.hmf_3444.alt_sj_cohort.37.csv'
            gene_exp_distribution         = 'rna/isofox.hmf_3444.gene_distribution.37.csv'
            isofox_counts                 = 'rna/read_151_exp_counts.37.csv'
            isofox_gc_ratios              = 'rna/read_100_exp_gc_ratios.37.csv'
            // LILAC
            lilac_resources               = 'misc/lilac/'
            // Neo
            neo_resources                 = 'misc/neo/binding/'
            cohort_tpm_medians            = 'misc/neo/tpm_cohort/isofox.hmf_3444.transcript_medians.37.csv'
            // CIDER
            cider_blastdb                 = 'misc/cider/blastdb/'
            // PEACH
            peach_haplotypes              = 'misc/peach/haplotypes.37.tsv'
            peach_haplotype_functions     = 'misc/peach/haplotype_functions.37.tsv'
            peach_drug_info               = 'misc/peach/peach_drugs.37.tsv'
            // ORANGE
            cohort_mapping                = 'misc/orange/cohort_mapping.tsv'
            cohort_percentiles            = 'misc/orange/cohort_percentiles.tsv'
            disease_ontology              = 'misc/orange/doid.json'
            // SAGE
            clinvar_annotations           = 'dna/variants/clinvar.37.vcf.gz'
            sage_blocklist_regions        = 'dna/variants/KnownBlacklist.germline.37.bed'
            sage_blocklist_sites          = 'dna/variants/KnownBlacklist.germline.37.vcf.gz'
            sage_actionable_panel         = 'dna/variants/ActionableCodingPanel.37.bed.gz'
            sage_coverage_panel           = 'dna/variants/CoverageCodingPanel.37.bed.gz'
            sage_highconf_regions         = 'dna/variants/NA12878_GIAB_highconf_IllFB-IllGATKHC-CG-Ion-Solid_ALLCHROM_v3.2.2_highconf.bed.gz'
            sage_known_hotspots_germline  = 'dna/variants/KnownHotspots.germline.37.vcf.gz'
            sage_known_hotspots_somatic   = 'dna/variants/KnownHotspots.somatic.37.vcf.gz'
            sage_pon                      = 'dna/variants/SageGermlinePon.1000x.37.tsv.gz'
            // Sigs
            sigs_signatures               = 'misc/sigs/snv_cosmic_signatures.csv'
            sigs_etiology                 = 'misc/sigs/signatures_etiology.tsv'
            // Virus breakend
            virusbreakend_db              = 'misc/virusbreakend/'
            // Virus Interpreter
            virus_reporting_db            = 'misc/virusinterpreter/virus_reporting_db.tsv'
            virus_taxonomy_db             = 'misc/virusinterpreter/taxonomy_db.tsv'
            virus_blocklist_db            = 'misc/virusinterpreter/virus_blacklisting_db.tsv'
            // Misc
            driver_gene_panel             = 'common/DriverGenePanel.37.tsv'
            ensembl_data_resources        = 'common/ensembl_data/'
            unmap_regions                 = 'common/unmap_regions.37.tsv'
            gnomad_resource               = 'dna/variants/gnomad_variants_v37.csv.gz'
            gridss_config                 = 'dna/sv/gridss.properties'
            known_fusion_data             = 'dna/sv/known_fusion_data.37.csv'
            known_fusions                 = 'dna/sv/known_fusions.37.bedpe'
            msi_jitter_sites              = 'dna/variants/msi_jitter_sites.37.tsv.gz'
            purple_germline_del           = 'dna/copy_number/cohort_germline_del_freq.37.csv'
            segment_mappability           = 'dna/variants/mappability_150.37.bed.gz'
        }
        '38' {
            // AMBER
            heterozygous_sites            = 'dna/copy_number/AmberGermlineSites.38.tsv.gz'
            // COBALT
            gc_profile                    = 'dna/copy_number/GC_profile.1000bp.38.cnp'
            diploid_bed                   = 'dna/copy_number/DiploidRegions.38.bed.gz'
            // CUPPA
            cuppa_alt_sj                  = 'misc/cuppa/alt_sj.selected_loci.38.tsv.gz'
            cuppa_classifier              = 'misc/cuppa/cuppa_classifier.38.pickle.gz'
            // SV Prep
            sv_prep_blocklist             = 'dna/sv/sv_prep_blacklist.38.bed'
            // ESVEE
            decoy_sequences_image         = []
            gridss_pon_breakends          = 'dna/sv/sgl_pon.38.bed.gz'
            gridss_pon_breakpoints        = 'dna/sv/sv_pon.38.bedpe.gz'
            repeatmasker_annotations      = 'dna/sv/repeat_mask_data.38.fa.gz'
            // Isofox
            alt_sj_distribution           = 'rna/isofox.hmf_3444.alt_sj_cohort.38.csv'
            gene_exp_distribution         = 'rna/isofox.hmf_3444.gene_distribution.38.csv'
            isofox_counts                 = 'rna/read_151_exp_counts.38.csv'
            isofox_gc_ratios              = 'rna/read_100_exp_gc_ratios.38.csv'
            // LILAC
            lilac_resources               = 'misc/lilac/'
            // Neo
            neo_resources                 = 'misc/neo/binding/'
            cohort_tpm_medians            = 'misc/neo/tpm_cohort/isofox.hmf_3444.transcript_medians.38.csv'
            // CIDER
            cider_blastdb                 = 'misc/cider/blastdb/'
            // PEACH
            peach_haplotypes              = 'misc/peach/haplotypes.38.tsv'
            peach_haplotype_functions     = 'misc/peach/haplotype_functions.38.tsv'
            peach_drug_info               = 'misc/peach/peach_drugs.38.tsv'
            // ORANGE
            cohort_mapping                = 'misc/orange/cohort_mapping.tsv'
            cohort_percentiles            = 'misc/orange/cohort_percentiles.tsv'
            disease_ontology              = 'misc/orange/doid.json'
            // SAGE
            clinvar_annotations           = 'dna/variants/clinvar.38.vcf.gz'
            sage_blocklist_regions        = 'dna/variants/KnownBlacklist.germline.38.bed'
            sage_blocklist_sites          = 'dna/variants/KnownBlacklist.germline.38.vcf.gz'
            sage_actionable_panel         = 'dna/variants/ActionableCodingPanel.38.bed.gz'
            sage_coverage_panel           = 'dna/variants/CoverageCodingPanel.38.bed.gz'
            sage_highconf_regions         = 'dna/variants/HG001_GRCh38_GIAB_highconf_CG-IllFB-IllGATKHC-Ion-10X-SOLID_CHROM1-X_v.3.3.2_highconf_nosomaticdel_noCENorHET7.bed.gz'
            sage_known_hotspots_germline  = 'dna/variants/KnownHotspots.germline.38.vcf.gz'
            sage_known_hotspots_somatic   = 'dna/variants/KnownHotspots.somatic.38.vcf.gz'
            sage_pon                      = 'dna/variants/hmf_wgs_sage_pon_1000.38.tsv.gz'
            // Sigs
            sigs_signatures               = 'misc/sigs/snv_cosmic_signatures.csv'
            sigs_etiology                 = 'misc/sigs/signatures_etiology.tsv'
            // Virus breakend
            virusbreakend_db              = 'misc/virusbreakend/'
            // Virus Interpreter
            virus_reporting_db            = 'misc/virusinterpreter/virus_reporting_db.tsv'
            virus_taxonomy_db             = 'misc/virusinterpreter/taxonomy_db.tsv'
            virus_blocklist_db            = 'misc/virusinterpreter/virus_blacklisting_db.tsv'
            // Misc
            driver_gene_panel             = 'common/DriverGenePanel.38.tsv'
            ensembl_data_resources        = 'common/ensembl_data/'
            unmap_regions                 = 'common/unmap_regions.38.tsv'
            gnomad_resource               = 'dna/variants/gnomad/'
            gridss_config                 = 'dna/sv/gridss.properties'
            known_fusion_data             = 'dna/sv/known_fusion_data.38.csv'
            known_fusions                 = 'dna/sv/known_fusions.38.bedpe'
            msi_jitter_sites              = 'dna/variants/msi_jitter_sites.38.tsv.gz'
            purple_germline_del           = 'dna/copy_number/cohort_germline_del_freq.38.csv'
            segment_mappability           = 'dna/variants/mappability_150.38.bed.gz'
        }
    }
}
