params {
    hmfdata_paths {
        '37' {
            // AMBER
            heterozygous_sites            = 'amber/GermlineHetPon.37.vcf.gz'
            // COBALT
            gc_profile                    = 'gc_profiles/GC_profile.1000bp.37.cnp'
            // CUPPA
            cuppa_resources               = 'cuppa/'
            // GRIDSS
            gridss_region_blocklist       = 'gridss_repeatmasker_db/ENCFF001TDO.37.bed'
            gridss_pon_breakends          = 'gridss_pon/gridss_pon_single_breakend.37.bed.gz'
            gridss_pon_breakpoints        = 'gridss_pon/gridss_pon_breakpoint.37.bedpe.gz'
            // Isofox
            isofox_counts                 = 'isofox/read_151_exp_counts.csv'
            isofox_gc_ratios              = 'isofox/read_100_exp_gc_ratios.csv'
            // LINX
            linx_fragile_regions          = 'linx/fragile_sites_hmf.37.csv'
            linx_lines                    = 'linx/line_elements.37.csv'
            // SAGE
            sage_blocklist_regions        = 'sage/KnownBlacklist.germline.37.bed'
            sage_blocklist_sites          = 'sage/KnownBlacklist.germline.37.vcf.gz'
            sage_coding_panel             = 'sage/ActionableCodingPanel.37.bed.gz'
            sage_coverage_panel_germline  = 'sage/CoverageCodingPanel.germline.37.bed.gz'
            sage_highconf_regions         = 'giab_high_conf/NA12878_GIAB_highconf_IllFB-IllGATKHC-CG-Ion-Solid_ALLCHROM_v3.2.2_highconf.bed.gz'
            sage_known_hotspots_germline  = 'sage/KnownHotspots.germline.37.vcf.gz'
            sage_known_hotspots_somatic   = 'sage/KnownHotspots.somatic.37.vcf.gz'
            sage_pon                      = 'sage/SageGermlinePon.1000x.37.tsv.gz'
            clinvar_annotations           = 'sage/clinvar.37.vcf.gz'
            // PEACH
            peach_panel                   = 'peach/min_DPYD.json'
            // PROTECT
            serve_resources               = 'serve/'
            // SIGS
            sigs_signatures               = 'sigs/snv_cosmic_signatures.csv'
            // LILAC
            lilac_resources               = 'lilac/'
            // Virus Interpreter
            virus_taxonomy_db             = 'virus_interpreter/taxonomy_db.tsv'
            virus_reporting_db            = 'virus_interpreter/virus_reporting_db.tsv'
            // Misc
            purple_germline_del           = 'purple/cohort_germline_del_freq.37.csv'
            driver_gene_panel             = 'gene_panel/DriverGenePanel.37.tsv'
            ensembl_data_resources        = 'ensembl_data_cache/'
            known_fusion_data             = 'fusions/known_fusion_data.37.csv'
            known_fusions                 = 'fusions/known_fusions.37.bedpe'
            segment_mappability           = 'mappability/mappability_150.37.bed.gz'
        }
    }
}
