params {
    hmfdata_paths {
        '37' {
            // AMBER
            heterozygous_sites            = 'amber/GermlineHetPon.37.vcf.gz'
            // COBALT
            gc_profile                    = 'gc_profiles/GC_profile.1000bp.37.cnp'
            // CUPPA
            cuppa_resources               = 'cuppa/'
            // SV Prep
            sv_prep_blocklist             = 'gridss/sv_prep_blacklist.37.bed'
            // GRIDSS, GRIPSS
            gridss_pon_breakends          = 'gridss/sgl_pon.37.bed.gz'
            gridss_pon_breakpoints        = 'gridss/sv_pon.37.bedpe.gz'
            gridss_region_blocklist       = 'gridss/gridss_blacklist.37.bed.gz'
            repeatmasker_annotations      = 'gridss/repeat_mask_data.37.fa.gz'
            // Isofox
            isofox_counts                 = 'isofox/read_151_exp_counts.csv'
            isofox_gc_ratios              = 'isofox/read_100_exp_gc_ratios.csv'
            // LILAC
            lilac_resources               = 'lilac/'
            // ORANGE
            cohort_mapping                = 'orange/cohort_mapping.tsv'
            cohort_percentiles            = 'orange/cohort_percentiles.tsv'
            alt_sj_distribution           = 'cuppa/cup_ref_alt_sj_sample.csv.gz'
            gene_exp_distribution         = 'cuppa/cup_ref_gene_exp_sample.csv.gz'
            // SAGE
            clinvar_annotations           = 'sage/clinvar.37.vcf.gz'
            sage_blocklist_regions        = 'sage/KnownBlacklist.germline.37.bed'
            sage_blocklist_sites          = 'sage/KnownBlacklist.germline.37.vcf.gz'
            sage_actionable_panel         = 'sage/ActionableCodingPanel.37.bed.gz'
            sage_coverage_panel           = 'sage/CoverageCodingPanel.37.bed.gz'
            sage_highconf_regions         = 'giab_high_conf/NA12878_GIAB_highconf_IllFB-IllGATKHC-CG-Ion-Solid_ALLCHROM_v3.2.2_highconf.bed.gz'
            sage_known_hotspots_germline  = 'sage/KnownHotspots.germline.37.vcf.gz'
            sage_known_hotspots_somatic   = 'sage/KnownHotspots.somatic.37.vcf.gz'
            sage_pon                      = 'sage/SageGermlinePon.1000x.37.tsv.gz'
            // SIGS
            sigs_signatures               = 'sigs/snv_cosmic_signatures.csv'
            // Virus Interpreter
            virus_reporting_db            = 'virus_interpreter/virus_reporting_db.tsv'
            virus_taxonomy_db             = 'virus_interpreter/taxonomy_db.tsv'
            // Misc
            disease_ontology              = 'disease_ontology/201015_doid.json'
            driver_gene_panel             = 'gene_panel/DriverGenePanel.37.tsv'
            ensembl_data_resources        = 'ensembl_data_cache/'
            gnomad_pon_dir                = []
            known_fusion_data             = 'fusions/known_fusion_data.37.csv'
            known_fusions                 = 'fusions/known_fusions.37.bedpe'
            purple_germline_del           = 'purple/cohort_germline_del_freq.37.csv'
            segment_mappability           = 'mappability/mappability_150.37.bed.gz'
        }
        '38' {
            // AMBER
            heterozygous_sites            = 'amber/GermlineHetPon.38.vcf.gz'
            // COBALT
            gc_profile                    = 'gc_profiles/GC_profile.1000bp.38.cnp'
            // CUPPA
            cuppa_resources               = 'cuppa/'
            // SV Prep
            sv_prep_blocklist             = 'gridss/sv_prep_blacklist.38.bed'
            // GRIDSS, GRIPSS
            gridss_pon_breakends          = 'gridss/sgl_pon.38.bed.gz'
            gridss_pon_breakpoints        = 'gridss/sv_pon.38.bedpe.gz'
            gridss_region_blocklist       = 'gridss/gridss_blacklist.38.bed.gz'
            repeatmasker_annotations      = 'gridss/repeat_mask_data.38.fa.gz'
            // Isofox
            isofox_counts                 = 'isofox/read_151_exp_counts.csv'
            isofox_gc_ratios              = 'isofox/read_100_exp_gc_ratios.csv'
            // LILAC
            lilac_resources               = 'lilac/'
            // ORANGE
            cohort_mapping                = 'orange/cohort_mapping.tsv'
            cohort_percentiles            = 'orange/cohort_percentiles.tsv'
            alt_sj_distribution           = 'cuppa/cup_ref_alt_sj_sample.csv.gz'
            gene_exp_distribution         = 'cuppa/cup_ref_gene_exp_sample.csv.gz'
            // SAGE
            clinvar_annotations           = 'sage/clinvar.38.vcf.gz'
            sage_blocklist_regions        = 'sage/KnownBlacklist.germline.38.bed'
            sage_blocklist_sites          = 'sage/KnownBlacklist.germline.38.vcf.gz'
            sage_actionable_panel         = 'sage/ActionableCodingPanel.38.bed.gz'
            sage_coverage_panel           = 'sage/CoverageCodingPanel.38.bed.gz'
            sage_highconf_regions         = 'giab_high_conf/HG001_GRCh38_GIAB_highconf_CG-IllFB-IllGATKHC-Ion-10X-SOLID_CHROM1-X_v.3.3.2_highconf_nosomaticdel_noCENorHET7.bed.gz'
            sage_known_hotspots_germline  = 'sage/KnownHotspots.germline.38.vcf.gz'
            sage_known_hotspots_somatic   = 'sage/KnownHotspots.somatic.38.vcf.gz'
            sage_pon                      = 'sage/SageGermlinePon.98x.38.tsv.gz'
            // SIGS
            sigs_signatures               = 'sigs/snv_cosmic_signatures.csv'
            // Virus Interpreter
            virus_reporting_db            = 'virus_interpreter/virus_reporting_db.tsv'
            virus_taxonomy_db             = 'virus_interpreter/taxonomy_db.tsv'
            // Misc
            disease_ontology              = 'disease_ontology/201015_doid.json'
            driver_gene_panel             = 'gene_panel/DriverGenePanel.38.tsv'
            ensembl_data_resources        = 'ensembl_data_cache/'
            gnomad_pon_dir                = 'gnomad/'
            known_fusion_data             = 'fusions/known_fusion_data.38.csv'
            known_fusions                 = 'fusions/known_fusions.38.bedpe'
            purple_germline_del           = 'purple/cohort_germline_del_freq.38.csv'
            segment_mappability           = 'mappability/mappability_150.38.bed.gz'
        }
    }
}
