/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for HMF genome paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes using HMF genome paths.
----------------------------------------------------------------------------------------
*/


params {
    genomes {
        'GRCh37_hmf' {
            fasta           = "GRCh37_fasta"
            fai             = "GRCh37_fai"
            dict            = "GRCh37_dict"
            bwa_index       = "GRCh37_bwa_index"
            bwa_index_image = "GRCh37_bwa_index_image"
            gridss_index    = "GRCh37_gridss_index"
        }
        'GRCh38_hmf' {
            fasta           = "GRCh38_fasta"
            fai             = "GRCh38_fai"
            dict            = "GRCh38_dict"
            bwa_index       = "GRCh38_bwa_index"
            bwa_index_image = "GRCh38_bwa_index_image"
            gridss_index    = "GRCh38_gridss_index"
        }
    }
}
