/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for HMF genome paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes using HMF genome paths.
----------------------------------------------------------------------------------------
*/


params {
    genomes {
        'GRCh37_hmf' {
            fasta           = "s3://umccr-research-dev/stephen/hmf_reference_genomes/GRCh37/Homo_sapiens.GRCh37.GATK.illumina.fasta"
            fai             = "s3://umccr-research-dev/stephen/hmf_reference_genomes/GRCh37/Homo_sapiens.GRCh37.GATK.illumina.fasta.fai"
            dict            = "s3://umccr-research-dev/stephen/hmf_reference_genomes/GRCh37/Homo_sapiens.GRCh37.GATK.illumina.fasta.dict"
            bwa_index       = "s3://umccr-research-dev/stephen/hmf_reference_genomes/GRCh37/bwa_index/"
            bwa_index_image = "s3://umccr-research-dev/stephen/hmf_reference_genomes/GRCh37/Homo_sapiens.GRCh37.GATK.illumina.fasta.img"
            gridss_index    = "s3://umccr-research-dev/stephen/hmf_reference_genomes/GRCh37/Homo_sapiens.GRCh37.GATK.illumina.fasta.gridsscache"
        }
        'GRCh38_hmf' {
            fasta           = "s3://umccr-research-dev/stephen/hmf_reference_genomes/GRCh38/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna"
            fai             = "s3://umccr-research-dev/stephen/hmf_reference_genomes/GRCh38/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.fai"
            dict            = "s3://umccr-research-dev/stephen/hmf_reference_genomes/GRCh38/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.dict"
            bwa_index       = "s3://umccr-research-dev/stephen/hmf_reference_genomes/GRCh38/bwa_index/"
            bwa_index_image = "s3://umccr-research-dev/stephen/hmf_reference_genomes/GRCh38/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.img"
            gridss_index    = "s3://umccr-research-dev/stephen/hmf_reference_genomes/GRCh38/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.gridsscache"
        }
    }
}
