/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: 'STAR_GENOMEGENERATE' {
        ext.args = '--genomeSAindexNbases 14 --sjdbOverhang 200 --genomeChrBinNbits 15'
    }

    withName: 'REDUX' {
        ext.log_level = { "${params.hmftools_log_level}" }
    }

    withName: 'AMBER' {
        ext.log_level = { "${params.hmftools_log_level}" }
    }

    withName: 'FASTQ_TOOLS' {
        ext.log_level = { "${params.hmftools_log_level}" }
    }

    withName: 'COBALT' {
        ext.log_level = { "${params.hmftools_log_level}" }
    }

    withName: '.*:ESVEE_CALLING:ESVEE' {
        ext.log_level = { "${params.hmftools_log_level}" }
    }

    withName: '.*:SAGE_CALLING:SAGE_GERMLINE' {
        ext.log_level = { "${params.hmftools_log_level}" }
    }

    withName: '.*:SAGE_CALLING:SAGE_SOMATIC' {
        ext.log_level = { "${params.hmftools_log_level}" }
    }

    withName: '.*:SAGE_APPEND:SAGE_APPEND_GERMLINE' {
        ext.log_level = { "${params.hmftools_log_level}" }
    }

    withName: '.*:SAGE_APPEND:SAGE_APPEND_SOMATIC' {
        ext.log_level = { "${params.hmftools_log_level}" }
    }

    withName: '.*:SAGE_PLOTTING:SAGE_VISUALISER' {
        ext.log_level = { "${params.hmftools_log_level}" }
    }

    withName: '.*:PAVE_ANNOTATION:PAVE_(?:GERMLINE|SOMATIC)' {
        ext.log_level = { "${params.hmftools_log_level}" }
    }

    withName: 'PURPLE' {
        ext.log_level = { "${params.hmftools_log_level}" }
    }

    withName: 'QSEE' {
        ext.log_level = { "${params.hmftools_log_level}" }
    }

    withName: '.*:LINX_ANNOTATION:LINX_GERMLINE' {
        ext.log_level = { "${params.hmftools_log_level}" }
    }

    withName: '.*:LINX_ANNOTATION:LINX_SOMATIC' {
        ext.log_level = { "${params.hmftools_log_level}" }
    }

    withName: '.*:LINX_PLOTTING:LINX_VISUALISER' {
        ext.log_level = { "${params.hmftools_log_level}" }
    }

    withName: 'CIDER' {
        ext.log_level = { "${params.hmftools_log_level}" }
    }

    withName: 'BAMTOOLS' {
        ext.log_level = { "${params.hmftools_log_level}" }
    }

    withName: 'CHORD' {
        ext.log_level = { "${params.hmftools_log_level}" }
    }

    withName: 'LILAC' {
        ext.log_level = { "${params.hmftools_log_level}" }
    }

    withName: 'SIGS' {
        ext.log_level = { "${params.hmftools_log_level}" }
    }

    withName: 'VIRUSINTERPRETER' {
        ext.log_level = { "${params.hmftools_log_level}" }
    }

    withName: 'ISOFOX' {
        ext.log_level = { "${params.hmftools_log_level}" }
    }

    withName: 'NEO_SCORER' {
        ext.log_level = { "${params.hmftools_log_level}" }
    }

    withName: '.*:NEO_PREDICTION:NEO_ANNOTATE_FUSIONS' {
        ext.log_level = { "${params.hmftools_log_level}" }
    }

    withName: 'NEO_FINDER' {
        ext.log_level = { "${params.hmftools_log_level}" }
    }

    withName: 'WISP' {
        ext.log_level = { "${params.hmftools_log_level}" }
    }

    withName: 'CUPPA' {
        ext.log_level = { "${params.hmftools_log_level}" }
    }

    withName: 'PEACH' {
        ext.log_level = { "${params.hmftools_log_level}" }
    }

    withName: 'TEAL.*' {
        ext.log_level = { "${params.hmftools_log_level}" }
    }

    withName: 'ORANGE' {
        ext.log_level = { "${params.hmftools_log_level}" }
    }

    withName: 'COBALT_PANEL_NORMALISATION' {
        ext.log_level = { "${params.hmftools_log_level}" }
    }

    withName: 'PAVE_PON_PANEL_CREATION' {
        ext.log_level = { "${params.hmftools_log_level}" }
    }

    withName: 'ISOFOX_PANEL_NORMALISATION' {
        ext.log_level = { "${params.hmftools_log_level}" }
    }

}
