params {

    panel_data_paths {

        tso500 {

            '37' {
                driver_gene_panel           = 'common/DriverGenePanel.tso500.37.tsv'
                sage_actionable_panel       = 'variants/ActionableCodingPanel.tso500.37.bed.gz'
                sage_coverage_panel         = 'variants/CoverageCodingPanel.tso500.37.bed.gz'
                pon_artefacts               = 'variants/pon_artefacts.tso500.37.tsv.gz'
                target_region_bed           = 'copy_number/target_regions_definition.tso500.37.bed.gz'
                target_region_normalisation = 'copy_number/cobalt_normalisation.tso500.37.tsv'
                target_region_ratios        = 'copy_number/target_regions_ratios.tso500.37.tsv'
                target_region_msi_indels    = 'copy_number/target_regions_msi_indels.tso500.37.tsv'
                isofox_tpm_norm             = 'rna_resources/isofox.gene_normalisation.tso500.37.csv'
                isofox_gene_ids             = 'rna_resources/tso500_rna_gene_ids.csv'
                isofox_counts               = 'rna_resources/read_93_exp_counts.37.csv'
                isofox_gc_ratios            = 'rna_resources/read_93_exp_gc_ratios.37.csv'
            }

            '38' {
                driver_gene_panel           = 'common/DriverGenePanel.tso500.38.tsv'
                sage_actionable_panel       = 'variants/ActionableCodingPanel.tso500.38.bed.gz'
                sage_coverage_panel         = 'variants/CoverageCodingPanel.tso500.38.bed.gz'
                pon_artefacts               = 'variants/pon_artefacts.tso500.38.tsv.gz'
                target_region_bed           = 'copy_number/target_regions_definition.tso500.38.bed.gz'
                target_region_normalisation = 'copy_number/cobalt_normalisation.tso500.38.tsv'
                target_region_ratios        = 'copy_number/target_regions_ratios.tso500.38.tsv'
                target_region_msi_indels    = 'copy_number/target_regions_msi_indels.tso500.38.tsv'
                isofox_tpm_norm             = 'rna_resources/isofox.gene_normalisation.tso500.38.csv'
                isofox_gene_ids             = 'rna_resources/tso500_rna_gene_ids.csv'
                isofox_counts               = 'rna_resources/read_93_exp_counts.38.csv'
                isofox_gc_ratios            = 'rna_resources/read_93_exp_gc_ratios.38.csv'
            }

        }
    }
}
