params {

    panel_data_paths {

        tso500 {

            '37' {
                driver_gene_panel           = 'driver_genes.tso500.37.tsv'
                pon_artefacts               = 'pon_artefacts.tso500.37.tsv.gz'
                target_region_bed           = 'panel_definition.tso500.37.bed.gz'
                target_region_normalisation = 'cobalt_normalisation.tso500.37.tsv'
                target_region_ratios        = 'tmb_ratio.tso500.37.tsv'
                target_region_msi_indels    = 'msi_indels.tso500.37.tsv'
                isofox_tpm_norm             = 'isofox.gene_normalisation.tso500.37.csv'
                isofox_gene_ids             = 'tso500_rna_gene_ids.csv'
                isofox_counts               = 'read_93_exp_counts.37.csv'
                isofox_gc_ratios            = 'read_93_exp_gc_ratios.37.csv'

                // NOTE(SW): for dev purposes only
                vcuppa_model                = 'vcuppa/model.bin'
                vcuppa_features_list        = 'vcuppa/feature_list.txt'
            }

            '38' {
                driver_gene_panel           = 'driver_genes.tso500.38.tsv'
                pon_artefacts               = 'pon_artefacts.tso500.38.tsv.gz'
                target_region_bed           = 'panel_definition.tso500.38.bed.gz'
                target_region_normalisation = 'cobalt_normalisation.tso500.38.tsv'
                target_region_ratios        = 'tmb_ratio.tso500.38.tsv'
                target_region_msi_indels    = 'msi_indels.tso500.38.tsv'
                isofox_tpm_norm             = 'isofox.gene_normalisation.tso500.38.csv'
                isofox_gene_ids             = 'tso500_rna_gene_ids.csv'
                isofox_counts               = 'read_93_exp_counts.38.csv'
                isofox_gc_ratios            = 'read_93_exp_gc_ratios.38.csv'

                // NOTE(SW): for dev purposes only
                vcuppa_model                = 'vcuppa/model.bin'
                vcuppa_features_list        = 'vcuppa/feature_list.txt'
            }

        }
    }
}
