process.'withName:^.*:AMBER_PROFILING:AMBER'.ext.args = [
    '-tumor_only_min_depth 80',
].join(' ').trim()

process.'withName:^.*:COBALT_PROFILING:COBALT'.ext.args = [
    '-pcf_gamma 15',
].join(' ').trim()

process.'withName:^.*:SAGE_CALLING:SOMATIC'.ext.args = [
    '-hard_min_tumor_vaf 0.005',
    '-hotspot_min_tumor_vaf 0.01',
    '-hotspot_min_tumor_qual 100',
    '-panel_min_tumor_qual 250',
    '-high_confidence_min_tumor_qual 350',
    '-low_confidence_min_tumor_qual 500',
    '-max_read_depth 100000',
    '-sync_fragments',
].join(' ').trim()

process.'withName:^.*:GRIPSS_FILTERING:SOMATIC'.ext.args = [
    '-hard_min_tumor_qual 200',
    '-min_qual_break_point 1000',
    '-min_qual_break_end 1000',
].join(' ').trim()

process.'withName:^.*:PURPLE_CALLING:PURPLE'.ext.args = [
    '-min_diploid_tumor_ratio_count 3',
    '-min_diploid_tumor_ratio_count_centromere 3',
    '-ploidy_penalty_factor 0.6',
    '-ploidy_penalty_standard_deviation 0.15',
].join(' ').trim()
