params {

    panel_data_paths {

        hmf {

            '38' {
                driver_gene_panel           = 'common/DriverGenePanel.38.tsv'
                sage_actionable_panel       = 'variants/ActionableCodingPanel.38.bed.gz'
                sage_coverage_panel         = 'variants/CoverageCodingPanel.38.bed.gz'
                pon_artefacts               = 'variants/PanelArtefacts.38.tsv'
                target_region_bed           = 'copy_number/target_regions_definition.38.bed'
                target_region_normalisation = 'copy_number/target_regions_normalisation.38.tsv'
                target_region_ratios        = 'copy_number/target_regions_ratios.38.tsv'
                target_region_msi_indels    = 'copy_number/target_regions_msi_indels.38.tsv'
            }

        }

        tso500 {

            '37' {
                driver_gene_panel           = 'common/DriverGenePanel.tso500.37.tsv'
                sage_actionable_panel       = 'variants/ActionableCodingPanel.tso500.37.bed.gz'
                sage_coverage_panel         = 'variants/CoverageCodingPanel.tso500.37.bed.gz'
                pon_artefacts               = 'variants/pon_artefacts.tso500.37.tsv.gz'
                target_region_bed           = 'copy_number/target_regions_definition.tso500.37.bed.gz'
                target_region_normalisation = 'copy_number/cobalt_normalisation.tso500.37.tsv'
                target_region_ratios        = 'copy_number/target_regions_ratios.tso500.37.tsv'
                target_region_msi_indels    = 'copy_number/target_regions_msi_indels.tso500.37.tsv'
            }

            '38' {
                driver_gene_panel           = 'common/DriverGenePanel.tso500.38.tsv'
                sage_actionable_panel       = 'variants/ActionableCodingPanel.tso500.38.bed.gz'
                sage_coverage_panel         = 'variants/CoverageCodingPanel.tso500.38.bed.gz'
                pon_artefacts               = 'variants/pon_artefacts.tso500.38.tsv.gz'
                target_region_bed           = 'copy_number/target_regions_definition.tso500.38.bed.gz'
                target_region_normalisation = 'copy_number/cobalt_normalisation.tso500.38.tsv'
                target_region_ratios        = 'copy_number/target_regions_ratios.tso500.38.tsv'
                target_region_msi_indels    = 'copy_number/target_regions_msi_indels.tso500.38.tsv'
            }

        }
    }
}
