/*
This afterScript directive will copy .sh and .log files from the work/ directory for every process.

Each destination file will have the below example path:
outdir/coloMini/logs/NFCORE_ONCOANALYSER:WGTS:REDUX_PROCESSING:REDUX.coloMini_coloMiniT.command.log
*/

process.afterScript = {

    log_dir = "${params.outdir}/${meta.key}/logs"
    dest_file_prefix = "${log_dir}/${task.process}.${meta.id}"

    cmd =  "mkdir -p ${log_dir}; "
    cmd += "for file in .command.{sh,log}; do cp \$file ${dest_file_prefix}\${file}; done"
    cmd

}
