process.'withName:^.*:COBALT_PROFILING:COBALT'.ext.args = [
    '-pcf_gamma 50',
].join(' ').trim()

process.'withName:^.*:SAGE_CALLING:SOMATIC'.ext.args = [
    '-high_depth_mode',
    '-hard_min_tumor_vaf 0.002',
    '-hotspot_min_tumor_vaf 0.015',
    '-panel_min_tumor_qual 150',
].join(' ').trim()
