/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Defines input files and everything required to run a fast and simple pipeline test.

  Use as follows:
    nextflow run umccr/hmftools -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
  memory = 16.GB

  withName: 'SAGE_GERMLINE' {
    ext.args = '-specific_regions \'chr10:87864102:87966988\''
  }

  withName: 'SAGE_SOMATIC' {
    ext.args = '-specific_regions \'chr10:87736200:88056500;chr17:59748500:59828700\''
  }

  withName: 'COLLECTWGSMETRICS' {
    // NOTE(SW): wrapped by a closure to delay eval until process creation/execution
    ext.args = { "--INTERVALS ${params.ref_data_wgsmetrics_intervals_local}" }
  }
}

params {
  config_profile_name        = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'

  // Defined here to be accessible within a workflow script; downloaded manually prior to process
  // execution.
  ref_data_wgsmetrics_intervals_url = 'https://raw.githubusercontent.com/scwatts/nextflow_testdata/main/hmftools/collectwgsmetrics/intervals.interval_list'
  schema_ignore_params = 'ref_data_wgsmetrics_intervals_url'

  // Limit resources so that this can run on GitHub Actions
  max_cpus   = 1
  max_memory = 16.GB
  max_time   = 20.m

  // Input data
  input  = '/Users/stephen/repos/nextflow_testdata/hmftools/input_tsv/samplesheet.tsv'
}
