/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/oncoanalyser -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {

    resourceLimits = [
        cpus: 4,
        memory: '30.GB',
        time: '1.h'
    ]

    withName: 'PURPLE' {
        ext.args = '-min_purity 1 -max_purity 1 -min_ploidy 2 -max_ploidy 2'
    }

}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input = params.pipelines_testdata_base_path + '/samplesheet/fastq_eval.subject_a.wgts.tndna_trna.minimal.csv'

    // Analysis config
    mode              = 'wgts'
    genome            = 'GRCh38_hmf'
    max_fastq_records = 0
}
