/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/oncoanalyser -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    withName: 'PURPLE' {
        ext.args = '-min_purity 1 -max_purity 1 -min_ploidy 2 -max_ploidy 2'
    }
}

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    input = params.pipelines_testdata_base_path + '/samplesheet/fastq_eval.subject_a.wgts.tndna_trna.minimal.csv'

    // Analysis config
    mode              = 'wgts'
    genome            = 'GRCh38_hmf'
    max_fastq_records = 0
}
