/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running stub tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/oncoanalyser -profile test_stub -stub --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {

    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]

}

params {
    config_profile_name        = 'Stub test profile'
    config_profile_description = 'Stub test dataset to check pipeline function'

    // Input data
    input = params.pipelines_testdata_base_path + '/samplesheet/bam_eval.subject_a.wgts.tndna_trna.minimal.stub.csv'

    // Reference data
    genomes {

        'GRCh38_hmf' {
            fasta         = "temp/GRCh38.fasta"
            fai           = "temp/GRCh38.fai"
            dict          = "temp/GRCh38.dict"
            img           = "temp/GRCh38.img"
            bwamem2_index = "temp/GRCh38_bwa-mem2_index/"
            gridss_index  = "temp/GRCh38_gridss_index/"
            star_index    = "temp/GRCh38_star_index/"
        }

    }

    ref_data_hmf_data_path        = "temp/hmf_bundle_38/"
    ref_data_panel_data_path      = "temp/panel_bundle/tso500_38/"

    // Analysis config
    mode                     = 'wgts'
    genome                   = 'GRCh38_hmf'
    create_stub_placeholders = true
}
