/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/oncoanalyser -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    cups = 1
    memory = 16.GB

    withName: 'SAGE_GERMLINE' {
        ext.args = '-specific_regions \'chr10:87864102:87966988\''
    }

    withName: 'SAGE_SOMATIC' {
        ext.args = '-specific_regions \'chr10:87736200:88056500;chr17:59748500:59828700\''
    }

}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Defined here to be accessible within a workflow script; downloaded manually prior to process
    // execution.
    schema_ignore_params              = 'genomes,hmfdata_paths'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 1
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input = '/Users/stephen/repos/oncoanalyser/temp/samplesheet.csv'

    ref_data_hmf_data_path = '/Users/stephen/repos/oncoanalyser/temp/hmf_bundle'
    ref_data_virusbreakenddb_path = '/Users/stephen/repos/oncoanalyser/temp/virusbreakenddb_20210401.tar.gz'

    genome = 'GRCh37_hmf'
    ref_data_genome_fasta           = '/Users/stephen/repos/oncoanalyser/temp/GRCh38.fasta'
    ref_data_genome_fai             = '/Users/stephen/repos/oncoanalyser/temp/GRCh38.fai'
    ref_data_genome_dict            = '/Users/stephen/repos/oncoanalyser/temp/GRCh38.dict'
    ref_data_genome_bwa_index       = '/Users/stephen/repos/oncoanalyser/temp/GRCh38_bwa/'
    ref_data_genome_bwa_index_image = '/Users/stephen/repos/oncoanalyser/temp/GRCh38.img'
    ref_data_genome_gridss_index    = '/Users/stephen/repos/oncoanalyser/temp/GRCh38.gridsscache'

}
